:root {
  --cell-size: 100px;
}

.chessboard {
  user-select: none;
}

.main-layer {
  display: grid;
  grid-template-columns: var(--cell-size)  var(--cell-size)  var(--cell-size)  var(--cell-size)  var(--cell-size)  var(--cell-size)  var(--cell-size)  var(--cell-size);
}

.square {
  /* border: 1px solid black; */
  height: var(--cell-size);
  cursor: pointer;
}

.square img {
  width: 100%;
}

.square.dark {
  background: #ccc;
}

.square.light {
  background: #eee;
}

.square.is-being-dragged {
  background: hsla(220, 80%, 70%);
}

.square.is-being-dragged img {
  opacity: 0.25;
}

.chessboard.drag-mode .square:not(.is-being-dragged):hover {
  background: hsla(220, 80%, 85%);
}
