:root {
  --cell-size: 100px;
}

.main-layer {
  display: grid;
  grid-template-columns: var(--cell-size)  var(--cell-size)  var(--cell-size)  var(--cell-size)  var(--cell-size)  var(--cell-size)  var(--cell-size)  var(--cell-size);
}

.square {
  /* border: 1px solid black; */
  height: var(--cell-size);
}

.square img {
  width: 100%;
}

.square.dark {
  background: #ccc;
}

.square.light {
  background: #eee;
}
